body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('images/background.png');
    background-size: cover; /* Make the image cover the entire background */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
}
